# Virtual Environments
venv/
.env
.env.*

# Python
__pycache__/
*.py[cod]
*Spy.class

# Django
db.sqlite3
*.log

# macOS
.DS_Store

#IDE
.vscode/
.idea

# Test/Cache
.pytest_cache/
.coverage
htmlcov/
